@import "tailwindcss";

:root {
  --title-font: "Anton", serif;
  --text-font: "Inter", serif;
  --black: #000000;
  --white: #ffffff;
  --subtext: #d4d4d4;
  --transition: all 0.3s ease-in-out;
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  background-color: black;
  color: white;
  font-family: var(--text-font);
  position: relative;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

section{
  min-height: 100dvh;
  margin: 0;
}

 #first{
  /* margin-top: 10vh; */
  min-height: 90dvh;
}

/*navbar*/

nav span,
nav div {
  cursor: pointer;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0%;
  width: 100%;
  height: 2px;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}

.bcg-animation {
  animation: fade-in 1.2s ease-in-out 1;
}

.heroName {
  color: white;
  font-size: clamp(4rem, 10vw, 8rem);
  /* position: fixed; */
  animation: fade-in 3s ease-in-out 1;
  left: 50%;
  top: 30%;
  font-family: var(--title-font);
  text-align: center;
  line-height: 100%;
  letter-spacing: 1rem;
  /* transform: translate(-50%, -30%); */
  z-index: 0;
}

.heroText {
  font-family: var(--text-font);
  font-weight: bold;
  color: white;
  z-index: 3;
  /* position: fixed; */
  text-align: center;
  left: 50%;
  /* transform: translateX(-50%); */
  top: 90%;
  animation: glow 1.5s ease-in 1;
}

/*mainSection*/

.mainSection {
  position: absolute;
  background-color: black;
  /* top: 100vh; */
  width: 100%;
  /* height: 100%; */
  z-index: 1;
}

@keyframes glow {
  15% {
    text-shadow: #d4d4d4 1px 0 3px;
  }
  30% {
    text-shadow: none;
  }
  45% {
    text-shadow: #d4d4d4 1px 0 5px;
  }
  60% {
    text-shadow: #d4d4d4 1px 0 4px;
  }
  85% {
    text-shadow: #d4d4d4 1px 0 10px;
  }
  100% {
    text-shadow: none;
  }
}
